.containerFlecha {
  margin-top: -.2em;
  width: 5em;
  height: 5em;
  margin-left: 1em;
  transition-duration: 300ms; }

.containerAnimacion:hover .flechaAnimacion {
  transform: translate(0.5em); }

@keyframes fotosA {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@font-face {
  font-family: "Coign";
  src: url(" Fuentes/coign-37-bold.f696310d.woff2") format("woff2"); }

@font-face {
  font-family: "Surt";
  src: url(" Fuentes/Surt-Medium.691a7205.woff2") format("woff2"); }

@font-face {
  font-family: "RecklessNeue";
  src: url(" Fuentes/RecklessNeue-ThinItalic.ttf") format("truetype"); }

.grid-areasIndex {
  display: grid;
  grid-template-areas: "header header" "sec1   sec1" "sec2   sec3" "sec4   sec4" "footer footer";
  grid-template-columns: 45% auto;
  row-gap: 1.4em; }

.containerS1, .containerS1-Vid {
  margin: 2.6em;
  margin-bottom: .1em; }

.containerS1-Text {
  display: flex;
  flex-wrap: wrap; }
  .containerS1-Text p {
    margin: 1em;
    width: 30em;
    margin-left: 1em; }

.containerS2 {
  margin-left: 0.1em; }

.containerS2-Text {
  width: 16em; }

.containerS3-index {
  display: flex;
  flex-direction: row;
  margin-left: 2.5em; }

.alinearTexto {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.alinearFlecha {
  display: flex;
  justify-content: center;
  align-items: center; }

#l1 {
  grid-area: l1; }

#l2 {
  grid-area: l2; }

#l3 {
  grid-area: l3; }

#l4 {
  grid-area: l4; }

#l5 {
  grid-area: l5; }

#l6 {
  grid-area: l6; }

#l7 {
  grid-area: l7; }

#l8 {
  grid-area: l8; }

#l9 {
  grid-area: l9; }

#l10 {
  grid-area: l10; }

#l11 {
  grid-area: l11; }

.grid-areasEst {
  display: grid;
  grid-template-areas: "header" "sec1" "sec2" "sec3" "sec4" "sec5" "footer";
  width: 100%; }

.estudioSec1-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: .8em;
  margin-left: 13em;
  margin-top: 2em; }
  .estudioSec1-flex p {
    margin-left: 30em;
    width: 30em;
    font-size: 1.3em; }

.serviciosText p {
  font-size: 2.1em; }

.estudioSec3-flex {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-size: .8em; }
  .estudioSec3-flex h2 {
    color: white;
    font-size: 8em;
    margin-top: .5em;
    margin-left: 1.6em;
    margin-bottom: .5em; }
  .estudioSec3-flex div {
    margin-left: 10vw;
    height: 60vh;
    display: grid;
    grid-template-areas: "l1 l2  l3 l4" "l5 l6  l7 l8" "l9 l10 l11 l11";
    grid-template-columns: auto;
    row-gap: 1em; }
    .estudioSec3-flex div div {
      width: 10vw;
      height: 10vh;
      margin: 2em; }

.textoEstudio p {
  font-size: 1.3em; }

.logo2 {
  padding-top: 4em; }

.logo5 img {
  margin-left: 2em;
  margin-top: 2em; }

.logo8 {
  padding-top: 2em; }

.logo9 {
  justify-self: end; }

.logo10 {
  justify-self: end; }

.logo11 {
  justify-self: center; }

.estudioSec4-flex {
  display: flex;
  margin-left: 13em;
  flex-direction: column;
  font-size: .8em;
  align-items: flex-start; }
  .estudioSec4-flex h2 {
    font-size: 6em; }

.estudioServicios-flex {
  display: flex;
  flex-direction: row;
  font-size: .8em;
  margin: 3em;
  margin-left: 0em;
  justify-content: space-evenly;
  width: 90%; }

.carousel {
  width: 50em; }

.containerCar {
  background-color: #131313;
  height: fit-content;
  display: flex;
  justify-content: center;
  z-index: -1;
  width: 100vw; }
  .containerCar img {
    width: auto;
    height: 40em;
    justify-content: center; }

.imgCar1 {
  margin-left: 14vw; }

.z-carrousel {
  z-index: 0; }

.footer-negro {
  background-color: #131313;
  grid-area: footer;
  margin: 0em;
  padding-bottom: 20px;
  font-family: 'Surt';
  font-size: 1.4em;
  display: flex;
  justify-content: space-between; }
  .footer-negro p {
    margin-top: 2em;
    color: white;
    margin-left: 2em; }
  .footer-negro a {
    margin-top: 2em;
    text-decoration: underline;
    padding-right: 2em;
    color: white; }
  .footer-negro a:hover {
    color: white; }

.grid-areasVid {
  display: grid;
  grid-template-areas: "header" "sec1" "sec2" "sec3" "sec4"  "footer";
  width: 100%; }

.padding-TextoVideos, .padding-TextoVideos2 {
  margin-left: 8em;
  text-align: justify; }
  @media (min-width: 1200px) {
    .padding-TextoVideos, .padding-TextoVideos2 {
      font-size: 1.6em; } }

.padding-TextoVideos2 {
  margin-left: 0; }

.videosSec1-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin: 2em;
  margin-left: 4em;
  font-size: .8em;
  margin-bottom: 5em; }

.videosSec3-flex {
  background-color: #131313;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: .8em; }
  .videosSec3-flex h2 {
    color: white;
    font-size: 6em; }

.video-responsive {
  position: relative;
  width: 50%;
  height: 5vh;
  padding-bottom: 56.25%;
  height: 0; }
  .video-responsive iframe {
    position: absolute;
    padding: 2em;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%; }

.videoM-responsive {
  position: relative;
  width: 100%;
  height: 5vh;
  padding-bottom: 66.25%;
  height: 0; }
  .videoM-responsive iframe {
    position: absolute;
    padding: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%; }

.grid-areasDiscos {
  display: grid;
  grid-template-areas: "header header header" "sec1 sec2 sec3" "sec4 sec5 sec6" "footer footer footer";
  row-gap: 1.4em;
  grid-column-gap: .5em;
  grid-template-columns: auto auto auto; }

.secDiscos-black {
  background-color: #131313;
  font-size: .8em;
  margin-top: .8;
  margin-left: 3em;
  margin-right: 3em; }
  .secDiscos-black p {
    color: white;
    padding: .5em; }

.secDiscos-white {
  border-style: solid;
  margin: .8em;
  margin-left: 2.4em;
  margin-right: 2.4em; }
  .secDiscos-white iframe {
    margin-left: 2.5em;
    margin-top: .5em;
    width: 80%; }

.grid-areasCont {
  display: grid;
  grid-template-areas: "header header" "sec1 sec2" "sec1 sec3" "footer footer";
  grid-template-columns: 50% auto;
  row-gap: 2em; }

.sec1Contacto {
  margin-right: 2em;
  margin-left: 2em; }

.sec2Contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #131313;
  width: 96%; }
  .sec2Contacto p {
    color: white;
    margin-left: .4em;
    font-size: .7em; }
  .sec2Contacto a {
    color: white;
    font-size: .15em;
    font-family: "Coing";
    padding: 2em; }
  .sec2Contacto a:hover {
    color: white; }

.sec3Contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  border-color: #131313;
  width: 95%; }
  .sec3Contacto p {
    margin-left: .3em;
    font-size: .7em; }

.sec3Links {
  text-decoration: underline;
  padding-left: 1.2em;
  margin-bottom: 1.2em;
  font-family: "Coing";
  font-size: .16em;
  font-family: "Coing"; }

.containerMenu-drop {
  position: fixed;
  margin-left: 78vw; }

.mixerMenu {
  width: 5em;
  height: 5em;
  margin-top: 4em;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  display: none;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 0; }

.full-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  right: -100%;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  background: rgba(0, 0, 0, 0.85);
  transition: .6s; }
  .full-menu .wrap {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center; }
    .full-menu .wrap .navegacion {
      margin-left: 40%;
      margin-top: 2%;
      flex-basis: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column; }
      @media (max-width: 600px) {
        .full-menu .wrap .navegacion {
          margin-left: 25%; } }
      @media (max-width: 400px) {
        .full-menu .wrap .navegacion {
          margin-left: 24%; } }
      .full-menu .wrap .navegacion ul {
        list-style: none;
        text-align: center; }
        .full-menu .wrap .navegacion ul div {
          transition-duration: 700ms;
          width: fit-content;
          flex-direction: row; }
        @media (min-width: 1100px) {
          .full-menu .wrap .navegacion ul div:hover {
            transform: translate(-2.5em); } }
        .full-menu .wrap .navegacion ul div:hover object {
          display: flex;
          filter: alpha(opacity=50);
          opacity: .8;
          -webkit-transition: opacity .5s ease;
          -moz-transition: opacity .5s ease;
          -ms-transition: opacity .5s ease;
          -o-transition: opacity .5s ease;
          transition: opacity .5s ease; }
          @media (max-width: 1100px) {
            .full-menu .wrap .navegacion ul div:hover object {
              display: none; } }
        .full-menu .wrap .navegacion ul li {
          margin: 2vh;
          width: 10vw;
          height: 12vh;
          display: flex; }
          .full-menu .wrap .navegacion ul li a {
            font-family: "Coign";
            letter-spacing: 2px;
            -webkit-font-smoothing: antialiased;
            font-weight: lighter;
            font-size: 9em;
            padding: 0;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff; }
            @media (max-width: 1200px) {
              .full-menu .wrap .navegacion ul li a {
                font-size: 9em; } }
            @media (max-width: 600px) {
              .full-menu .wrap .navegacion ul li a {
                font-size: 10em; } }

.close svg {
  fill: white; }
  .close svg:hover {
    fill: rgba(129, 129, 129, 0.555); }

.containerMixer, .containerMixer-cat {
  width: 3.5em;
  height: 3.5em;
  position: fixed;
  z-index: 3;
  top: 4em;
  right: 2em; }

.containerMixer:hover, .containerMixer-cat:hover {
  fill: rgba(129, 129, 129, 0.555); }

@media (max-width: 320px) {
  body {
    font-size: 0.4rem; }
  header {
    display: flex;
    flex-direction: column; }
    header .logo {
      margin: .5em;
      margin-left: .1em; }
    header h2 {
      margin-left: .2em;
      width: 80%; }
  .header-Catflex {
    width: 70%; }
  .full-menu .navegacion {
    margin-left: 25%;
    margin-top: 10%; }
  nav {
    margin-top: 1em; }
  .responsive {
    width: 95vw !important; }
  .estudioSec1-flex {
    flex-direction: column;
    justify-content: flex-start;
    width: 10%;
    font-size: .8em;
    margin-left: 3.5em; }
    .estudioSec1-flex p {
      margin-left: 0;
      width: 20em; }
  .estudioSec3-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .estudioSec3-flex h2 {
      font-size: 6em;
      margin-left: 1.7em; }
  .estudioSec4-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6em;
    font-size: 1em; }
    .estudioSec4-flex h2 {
      font-size: 5em;
      padding-bottom: .2em; }
  .imgCar1 {
    margin-left: 16vw; }
  .estudioServicios-flex {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0; }
  .containerS1-Vid {
    margin: 0;
    padding: 0; }
  .videosSec3-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .videosSec1-flex {
    width: 95%;
    margin-left: 1.6em; }
  .sec2Contacto {
    margin-left: .35em;
    width: 88%; }
  .sec3Contacto {
    margin-left: .35em;
    width: 88%; }
  .grid-areasIndex {
    display: grid;
    grid-template-areas: "header" "sec1 " "sec2"   "sec3" "sec4" "footer";
    row-gap: .4em;
    margin-left: 1em;
    grid-template-columns: auto; }
  .grid-areasDiscos {
    display: grid;
    grid-template-areas: "header" "sec1" "sec4" "sec2" "sec5" "sec3" "sec6" "footer";
    row-gap: .4em;
    grid-column-gap: .5em;
    grid-template-columns: auto; }
  .grid-areasCont {
    display: grid;
    grid-template-areas: "header" "sec1" "sec2" "sec3" "footer";
    grid-template-columns: auto;
    row-gap: 2em; }
  .containerFlecha {
    margin-top: -.6rem;
    width: 4em;
    height: 4em;
    margin-left: 1em;
    transition-duration: 300ms; }
  .containerS1, .containerS1-Vid {
    margin: 2.6em;
    margin-bottom: .1em;
    width: 85%; }
  .containerS1-Text p {
    width: 15em;
    margin-left: 0em; }
  .video-responsive {
    width: 100%;
    height: 5vh; }
    .video-responsive iframe {
      width: 100%;
      height: 100%; } }

@media (min-width: 321px) and (max-width: 599px) {
  body {
    font-size: 0.5rem; }
  header {
    display: flex;
    flex-direction: column; }
    header .logo {
      margin: .5em;
      margin-left: .1em; }
    header h2 {
      width: 100%;
      margin-left: 0em; }
  .header-Catflex {
    display: flex; }
  .textoEstudio p {
    font-size: 1.6em;
    text-align: justify;
    width: fit-content; }
  .containerMixer, .containerMixer-cat {
    position: fixed;
    margin-top: 1.3em; }
  .containerMixer-cat {
    margin-top: 1.5em; }
  .full-menu .navegacion {
    margin-left: 25%;
    margin-top: 10%; }
  .full-menu .navegacion ul li a {
    font-size: 4em; }
  .containerFlecha {
    margin-top: -.6rem;
    margin-left: 1em;
    transition-duration: 300ms; }
  nav {
    margin-top: 1em; }
  header {
    width: 70%; }
  .containerS1, .containerS1-Vid {
    margin: 2.6em;
    margin-bottom: .1em;
    width: 90%; }
  .containerS1-Text {
    display: flex;
    flex-direction: column; }
    .containerS1-Text p {
      width: 15em;
      margin-left: 0em; }
  .containerS1-Vid {
    width: 48%; }
  .responsive {
    width: 96vw !important; }
  .estudioSec1-flex {
    flex-direction: column;
    justify-content: flex-start;
    width: 10%;
    font-size: .8em;
    margin-left: 3.5em; }
    .estudioSec1-flex p {
      margin-left: 0;
      width: 30em; }
  .estudioSec3-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .estudioSec3-flex h2 {
    font-size: 6em;
    margin-left: 1.1em;
    width: 80%; }
  .estudioSec4-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6em;
    font-size: 1em; }
  .imgCar1 {
    margin-left: 19vw; }
  .estudioServicios-flex {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0; }
  .estudioSec4-flex h2 {
    font-size: 5em;
    padding-bottom: .2em; }
  .containerS1-Vid {
    margin: 0;
    padding: 0; }
  .videosSec3-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .sec2Contacto {
    margin-left: .35em;
    width: 88%; }
  .sec3Contacto {
    margin-left: .35em;
    width: 88%; }
  .grid-areasIndex {
    display: grid;
    grid-template-areas: "header" "sec1 " "sec2"   "sec3" "sec4" "footer";
    row-gap: .4em;
    margin-left: 1em;
    grid-template-columns: auto; }
  .grid-areasDiscos {
    display: grid;
    grid-template-areas: "header" "sec1" "sec4" "sec2" "sec5" "sec3" "sec6" "footer";
    row-gap: .4em;
    grid-column-gap: .5em;
    grid-template-columns: auto; }
  .secDiscos-black {
    margin-top: .8;
    margin-left: 2.4em;
    margin-right: 2.4em; }
  .videosSec1-flex {
    flex-direction: column; }
  .padding-TextoVideos, .padding-TextoVideos2 {
    margin-left: 0; }
  .grid-areasCont {
    display: grid;
    grid-template-areas: "header" "sec1" "sec2" "sec3" "footer";
    grid-template-columns: auto;
    row-gap: 2em; }
  .videoM-responsive {
    height: 30vh;
    width: 100vw; }
    .videoM-responsive iframe {
      padding: 0em;
      justify-content: center;
      width: 100vw;
      height: 30vh; }
  .video-responsive {
    width: 100%;
    height: 5vh; }
    .video-responsive iframe {
      width: 100%;
      height: 100%; } }

@media screen and (min-width: 550px) and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column; }
    header .logo {
      margin: .5em;
      margin-left: .1em; }
    header h2 {
      width: 100%; }
  .textoEstudio p {
    font-size: 2.2em;
    text-align: justify; } }

@media (min-width: 600px) and (max-width: 768px) {
  body {
    font-size: 0.6rem; }
  header {
    display: flex;
    flex-direction: flow;
    margin: 1em;
    width: 70%; }
  nav {
    margin-top: 1em; }
  .grid-areasIndex {
    display: grid;
    grid-template-areas: "header header" "sec1   sec1" "sec2   sec3" "sec4   sec4" "footer footer";
    row-gap: .4em;
    margin-left: 1em; }
  .containerS1, .containerS1-Vid {
    margin: 2.6em;
    margin-bottom: .1em;
    margin-left: 0em; }
  .containerS1-Text p {
    width: 15em;
    margin-left: 1em; }
  .responsive {
    width: 100vw !important; }
  .footer-blanco {
    display: flex;
    justify-content: space-between; }
  .textoEstudio p {
    font-size: 2.5em;
    text-align: justify;
    width: fit-content; }
  .estudioSec1-flex {
    flex-direction: column;
    justify-content: flex-start;
    width: 10%;
    font-size: .8em;
    margin-left: 3.5em; }
  .estudioSec1-flex p {
    margin-left: 0;
    width: 30em; }
  .estudioSec3-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .estudioSec3-flex h2 {
    font-size: 6em;
    margin-left: 1.7em;
    width: 80%; }
  .estudioSec4-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6em;
    font-size: 1.6em; }
  .estudioServicios-flex {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0; }
  .estudioSec4-flex h2 {
    font-size: 5em;
    padding-bottom: .2em; }
  .serviciosText p {
    font-size: 1.2em; }
  .secDiscos-black {
    margin-top: .8;
    margin-left: 2.4em;
    margin-right: 2.4em; }
  .grid-areasDiscos {
    display: grid;
    grid-template-areas: "header" "sec1" "sec4" "sec2" "sec5" "sec3" "sec6" "footer";
    row-gap: .4em;
    grid-column-gap: .5em;
    grid-template-columns: auto; } }

@media (min-width: 769px) and (max-width: 1200px) {
  body {
    font-size: 0.6rem; }
  header {
    display: flex;
    flex-direction: flow;
    margin: 1em;
    width: 70%; }
  nav {
    margin-top: 1em; }
  .grid-areasIndex {
    display: grid;
    grid-template-areas: "header header" "sec1   sec1" "sec2   sec3" "sec4   sec4" "footer footer";
    row-gap: .4em;
    margin-left: 1em; }
  .containerS1, .containerS1-Vid {
    margin: 2.6em;
    margin-bottom: .1em;
    margin-left: 0em; }
  .containerS1-Text p {
    width: 15em;
    margin-left: 1em; }
  .responsive {
    width: 100vw !important; }
  .footer-blanco {
    display: flex;
    justify-content: space-between; }
  .textoEstudio p {
    font-size: 2.4em;
    text-align: justify;
    width: fit-content; }
  .estudioSec1-flex {
    flex-direction: column;
    justify-content: flex-start;
    width: 10%;
    font-size: .8em;
    margin-left: 3.5em; }
  .estudioSec1-flex p {
    margin-left: 0;
    width: 30em; }
  .estudioSec3-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .estudioSec3-flex h2 {
    font-size: 6em;
    margin-left: 1.7em;
    width: 80%; }
  .estudioSec4-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6em;
    font-size: 1.6em; }
  .estudioServicios-flex {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0; }
  .estudioSec4-flex h2 {
    font-size: 5em;
    padding-bottom: .2em; }
  .serviciosText p {
    font-size: 1.4em; }
  .secDiscos-black {
    margin-top: .8;
    margin-left: 2.4em;
    margin-right: 2.4em; }
  .grid-areasDiscos {
    display: grid;
    grid-template-areas: "header" "sec1" "sec4" "sec2" "sec5" "sec3" "sec6" "footer";
    row-gap: .4em;
    grid-column-gap: .5em;
    grid-template-columns: auto; } }

@media only screen and (min-width: 1480px) {
  body {
    font-size: 1.2rem; } }

* {
  margin: 0;
  padding: 0; }
  * a:hover {
    color: black; }

h1 {
  display: none; }

header {
  grid-area: header; }
  header .btn-menu {
    cursor: pointer; }
  header h2 {
    width: 13vw;
    margin-left: 1vw;
    width: 14em;
    font-family: "Surt";
    padding-left: .5em;
    font-size: 1.2em;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    font-weight: lighter; }

#sec1 {
  grid-area: sec1; }

#sec2 {
  grid-area: sec2; }

#sec3 {
  grid-area: sec3; }

#sec4 {
  grid-area: sec4; }

#sec5 {
  grid-area: sec5; }

.header-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 2.4em; }

.header-Catflex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 2.4em;
  margin-left: 2.8em;
  margin-top: 4em; }
  .header-Catflex .logo {
    font-size: 8em; }
  .header-Catflex nav {
    margin: 2em; }

span {
  font-family: "RecklessNeue";
  -webkit-font-smoothing: antialiased; }

body {
  height: 100vh;
  background-color: #f0f0f0; }

a {
  text-decoration: none;
  color: black; }
  a :hover {
    color: black; }

.footer-blanco {
  grid-area: footer;
  margin: 0em;
  padding-bottom: 20px;
  font-family: 'Surt';
  font-size: 1.4em;
  display: flex;
  justify-content: space-between; }
  .footer-blanco p {
    margin-top: 2em;
    margin-left: 2em; }
  .footer-blanco a {
    margin-top: 2em;
    text-decoration: underline;
    padding-right: 2em; }
  .footer-blanco a:hover {
    color: black; }

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  animation-name: fotosA;
  animation-duration: 2s; }

.logo {
  font-family: "Coign";
  font-size: 10em;
  letter-spacing: 2px;
  line-height: 0px;
  width: max-content;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

h2 {
  text-transform: uppercase; }

.textoPrincipal {
  font-family: "Surt";
  font-size: 1.5em;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter; }

.textoCursiva {
  font-family: "RecklessNeue";
  -webkit-font-smoothing: antialiased; }

.tituloSecundario {
  font-family: "Coign";
  font-size: 8em;
  letter-spacing: 2px; }

.header-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 2.4em; }

.header-Catflex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 2.4em;
  margin-left: 2.8em;
  margin-top: 4em; }
  .header-Catflex .logo {
    font-size: 8em; }
  .header-Catflex nav {
    margin: 2em; }
