.containerFlecha{
    margin-top: -.2em;
    width: 5em;
    height: 5em;
    
    margin-left: 1em;
    transition-duration: 300ms;
  
}

.containerAnimacion:hover .flechaAnimacion{
    transform: translate(0.5em);
  
}




@keyframes fotosA {
    from{
        opacity: 0;
    }

    to{
       opacity: 1;
    }
}

