.grid-areasCont{
    display: grid;
    grid-template-areas: 
    "header header"
    "sec1 sec2"
    "sec1 sec3"
    "footer footer"
    ;
    grid-template-columns: 50% auto;
    row-gap: 2em;
}  


.sec1Contacto{
    margin-right: 2em;
    margin-left: 2em;
    
    img{
        //height: 90vh;
    } 
   
}

.sec2Contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $fondo_negro;
    width: 96%; 
    
    p{
        color: white;
        margin-left: .4em;
        font-size: .7em; 
        
    }
    a{
        color: white;
        font-size: .15em;
        font-family: $titulo;
        
        padding: 2em;
        
    }
    a:hover{
        color: white;
    }

}



.sec3Contacto{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-color: $fondo_negro;
    width: 95%; 
    p{
        margin-left: .3em;
        font-size: .7em; 
    }
  
}

.sec3Links{
    text-decoration: underline;
    padding-left: 1.2em;
    margin-bottom: 1.2em;
    font-family: $titulo;
    font-size: .15em;
    font-family: $titulo;
}