@font-face {font-family: "Coign";    
    src: 
    url(" Fuentes/coign-37-bold.f696310d.woff2") format("woff2");  
  }


  @font-face {font-family: "Surt";    
    src: 
    url(" Fuentes/Surt-Medium.691a7205.woff2") format("woff2");  
  }


  @font-face {
    font-family: "RecklessNeue"; 
    src: 
      
        url(" Fuentes/RecklessNeue-ThinItalic.ttf") format("truetype");
}
 