.containerMenu-drop{
    position: fixed;
    margin-left: 78vw;
   
}

.mixerMenu{
    width: 5em;
    height: 5em;
    margin-top: 4em;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    display: none;
   -webkit-transition: opacity .5s ease;
   -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
     -o-transition: opacity .5s ease;
        transition: opacity .5s ease;
        opacity: 0;
   
    

}

.full-menu{
	position: fixed;
	top: 0;
    z-index: 2;
	right: -100%;
	width: 100%;
	height: 100%;
    transition: opacity 0.3s;
	background:  rgba(0, 0, 0, 0.85) ;
	transition: .6s;
   
    .wrap{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        
 
        .navegacion{
            @media (max-width:600px){
                margin-left: 25%;
            }
            @media (max-width:400px){
                margin-left: 20%;
            }
            margin-left: 40%;
            margin-top: 2%;
            flex-basis: 0;
            flex-grow: 1;
                
            display: flex;
            flex-direction: column;
        
            ul{
                list-style: none;
                text-align:center;
                
                div{
                    transition-duration: 700ms;
                    
                    width: fit-content;
                    flex-direction: row;  
                       
                }
                
                div:hover{
                    @media (min-width:1100px){
                        transform: translate(-2.5em);
                    }
                   
                    object{
                       
                        display: flex;
                        @media (max-width:1100px){
                            display: none;
                        }
                        filter: alpha(opacity=50);
                        
                             opacity: .8;
                             -webkit-transition: opacity .5s ease;
                            -moz-transition: opacity .5s ease;
                            -ms-transition: opacity .5s ease;
                            -o-transition: opacity .5s ease;
                             transition: opacity .5s ease;
                    } 
                }

                li{
                    margin: 2vh;
                    width: 10vw;
                    height: 12vh;  
                    display: flex;       
                   
                    a{
                        
                        font-family: "Coign";
                        letter-spacing: 2px;
                        -webkit-font-smoothing: antialiased;
                        font-weight:lighter;
                        @media (max-width:1200px){
                            font-size: 15em;;
                         }
                        @media (max-width:600px){
                           font-size: 16em;;
                        }
                        font-size: 9em;
                        text-transform: uppercase;
                        text-decoration: none;	
                        color: #fff;   
                    }
                  
      

                }
                
            }
        }
    }    
}

.close svg{
	fill:white;
    &:hover{
        fill: $hover;   
    }
}

.containerMixer{    
    width: 3.5em;
    height: 3.5em;
    position: fixed;    
   // margin-left: 90vw;  
   // margin-right: 10vh;// 5em;
   z-index: 3;
   //top: 3;
   top: 4em;
   right: 2em;
    
  
}




.containerMixer-cat{   
    @extend .containerMixer;

}

    .containerMixer:hover{
        fill: $hover;
    }   
    


/* variables */
:root {
    --black: #000;
    --white: #fff;
    --color-1: #000;
    --gutter: 2rem;
    /* this value is going to be changed by javascript */
    --replace-offset: 50%;
    --replace-offset-2: calc((100% - var(--replace-offset) ) * -1)
  }

/**
  This is the interesting part
**/

/* align content above each other without absolute */
    .js-replace {
        display: grid;
    }
  
  .js-replace__item {
    grid-row: -1 / 1;
    grid-column: -1 / 1; 
    overflow: hidden;
    will-change: transform;
  }
  
  /* item to replace with */
  .js-replace__item {
    transform: translateY(calc(var(--replace-offset) * 1));  
  }
  .js-replace__content {
    /* fixes problem with calculating correct height in js */
    border: 1px solid transparent; 
    will-change: transform;
  
    transform: translateY(calc(var(--replace-offset) * -1));
  }
  
  /* previous replace item*/
  .js-replace__item--active {
    transform: translateY(calc(var(--replace-offset-2) * 1));  
  }
  .js-replace__item--active .js-replace__content {
    transform: translateY(calc(var(--replace-offset-2) * -1));  
  }
  
  
  /* REVERSE ANIMATION */
  .js-replace--reverse 
  .js-replace__item {
    transform: translateY(calc(var(--replace-offset-2) * 1));  
  }
  .js-replace--reverse 
  .js-replace__content {
    transform: translateY(calc(var(--replace-offset-2) * -1));
  }
  
  /* previous replace item*/
  .js-replace--reverse 
  .js-replace__item--active {
    transform: translateY(calc(var(--replace-offset) * 1));  
  }
  .js-replace--reverse 
  .js-replace__item--active .js-replace__content {
    transform: translateY(calc(var(--replace-offset) * -1));
  }