@import "variables";
@import "animaciones";
@import "fonts";
@import "index";
@import "estudio";
@import "videos";
@import "discos";
@import "contacto";
@import "menu";
@import "responsive";

//Reseteo CSS

*{
    margin: 0;
    padding: 0;
    a:hover{
        color: black;
    }
 }


// POSICIONAMIENTO GRID

h1{
    display: none;
}

header{
    grid-area: header;   
    
    .btn-menu{   //cambia el mouse 
	
        cursor: pointer;
    }

    h2{  //subtitulo
        width: 13vw;
        margin-left: 1vw;
        width: 14em;
        font-family:"Surt";
        padding-left: .5em;
        font-size: 1.2em;
        letter-spacing: 1px;
        -webkit-font-smoothing: antialiased;
        font-weight:lighter;
        
    }
    
}

/*#sec1{
    grid-area: sec1;
        
 }

#sec2 {
    grid-area: sec2;

  
   
}

#sec3 {
    grid-area: sec3;
  
  
   
}

#sec4 {
    grid-area: sec4;
    
   
}

#sec5 {
    grid-area: sec5;
}*/

@for $i from 1 through 5 {
    #sec#{$i} {
        grid-area: sec#{$i};
    }
  }



//----FLEX------

.header-flex{
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    margin: 2.4em;
       
}

.header-Catflex{
   display: flex;
    align-items: center; 
    flex-wrap: wrap;
    margin: 2.4em;
    margin-left: 2.8em;
    margin-top: 4em;
    
    .logo{
        font-size: 8em;
    }

   
    nav{
    margin: 2em;
    }
  
}





//-----ESTILO-------


span{
    font-family: $cursiva;
    -webkit-font-smoothing: antialiased;
}

body{
    
    height: 100vh; 
    
    background-color:$fondo;
 }

a{
    text-decoration: none;
    color: black;

    :hover{
    color: black;
    }
}


.footer-blanco{   
    grid-area: footer;
    margin: 2em;
    padding-bottom:  20px;
    font-family: 'Surt';
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;        
    a{
        text-decoration: underline;
        color: black;
        :hover{
        color: black;
        }
    }
}




 img{ 
     width: 100%;
     height: auto;
     max-width:  100%;   
     animation-name: fotosA;
     animation-duration: 2s;
}



.logo{

     font-family:"Coign";
     font-size: 10em;
     
     letter-spacing: 2px;
     line-height: 0px;
     width: max-content;
     text-transform: uppercase;
     -webkit-font-smoothing: antialiased;
     -webkit-text-stroke-width: 0.2px;
     -moz-osx-font-smoothing: grayscale;
      
 } 


h2{
    text-transform: uppercase;
}

//MENU




 .textoPrincipal{
    font-family:"Surt";
    font-size: 1.5em;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    font-weight:lighter;
} 

.textoCursiva{
    font-family: $cursiva;
    -webkit-font-smoothing: antialiased;

}


.tituloSecundario{
    font-family: "Coign";
    font-size: 8em;  
    
    letter-spacing: 2px;
}

//----FLEX------

.header-flex{
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    margin: 2.4em;
       
}

.header-Catflex{
   display: flex;
    align-items: center; 
    flex-wrap: wrap;
    margin: 2.4em;
    margin-left: 2.8em;
    margin-top: 4em;
    
    .logo{
        font-size: 8em;
    }

   
    nav{
    margin: 2em;
    }
  
}















